<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->


<!-- Custom CSS via inline styles
     You may use this template to add custom CSS to your site like so: -->

<style>
:root {
      /* from variables.scss */
    /* === Cover / Landing area === */
    --cover-text-color: #442b11;
    /* Used for Landing screen menu buttons, but potentially usable for highlighting other things */
    --highlight: #fff7ed;
    --highlight-contrast: var(--cover-text-color);
    /*iverse colors used for :hover */
    --highlight-inverse: var(--cover-text-color);
    --highlight-inverse-contrast: white;

    /* visual guard around title and description, when the feature is enabled */
    --cover-title-and-description-guard-bg-color: rgba(255, 255, 255, 0.6);

    --cover-title-text-shadow: #442b11 0px 0px 0px;


    /* === sticky top/left navigation menus === */
    --sticky-menu-text-color: #442b11;


    /* === Alternating content (post) sections  === */
    /* Light section - text color */
      --section-light-text-color: #442b11;
    /* Light section - background color */
   --section-light-bg-color: #fff7ed;

    /* Dark section - text color */
    --section-dark-text-color: var(--section-light-bg-color);
    /* Dark section - background color */
    --section-dark-bg-color: #744413;

    /* Light&Dark section >quote. Supressive color, compared to 'Light section - text color'*/
    --section-uni-quote: grey;
    /* Light&Dark section `code` a bit darker than 'Light section - background color' */
    --section-uni-code-bg-color: #e0ded7;

    /* === Single pages=== */
    --single-page-text-color: var(--section-light-text-color);
    --single-page-bg-color: var(--section-light-bg-color);

    /* === Footer === */
    --footer-color-background: #22343a;
    --footer-color: #bbc7cc;

    /* === Lists === */
    /* define list element for unnumbered lists, leave empty for default list element */
    --ul-li-icon: fa-asterisk;


     /* define list element for unnumbered lists, leave empty for default list element */
     /* fa-asterisk is the default icon if this variable definition is missing completely */
    /* --ul-li-icon: fa-dashcube;     /* this sets fa-dashcube as list icon */
     /*--ul-li-icon: ;                /* this sets the default html list icon */




}


.btn .site-menu {
  color: white !important;
}

.blog-title {
  letter-spacing: 3px !important;
  margin: 0.5em !important;
  font-size: 4vw !important;
  font-family: Safira, serif !important;
}

#blog-logo {
  max-height: 300px !important;
}

.container-flex {
  display: flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content: center;
}
    
.container-cabania {
  background-size: cover;
  height: 250px;
  width : 250px;
  margin: 2px;
}

.cabania-text {
  position:  relative;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(3px);
}

.cabania-text p {
  text-align: center;
  vertical-align: middle;
  line-height: 250px; 
  color: white !important;
  
  
}

@media screen and (max-width: 500px) {
  .container-flex {
  flex-direction:column;
  }
  
}

.map {
  max-width: 100%;
  width: 100%;
  height: 500px;
  align-content: center;
  display: block;
}

</style>


<!-- Custom CSS via "custom.css"-file
     If you would rather place your custom CSS into
     a separate file, create a "custom.css" in your
     local "static/css"-directory. Then add a <link>-tag
     referencing your "custom.css" like so: -->

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->

<!-- Custom CSS: Color Codes
     You may checkout https://htmlcolorcodes.com/ to get those
     weird color codes (like "#22343A") ;-). -->

<!-- Custom link-tags for different icons
     Generated via https://favicon.io/favicon-generator/ -->


<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ "images/apple-touch-icon.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ "images/favicon-32x32.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ "images/favicon-16x16.png" | absURL }}"
/>


<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.0/jquery.fancybox.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.0/jquery.fancybox.min.css" />
